* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*header image*/
.hero-image {
    background: url(https://images.unsplash.com/photo-1484589065579-248aad0d8b13?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjR8NDE2MDIxfHxlbnwwfHx8fHw%3D) no-repeat center;
    background-size: cover;
    height: 300px;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 400px;
    transform: translate(-50%, -50%);
    color: white;
}

/*primary image*/
.main-image {
    position: relative;
    width: 800px;
    float: left;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.main-image:hover .image {
    opacity: 0.3;
}

.main-image:hover .middle {
    opacity: 1;
}

.text {
    background-color: #F87C1F;
    color: white;
    font-size: 30px;
    font-style: bold;
    padding: 16px 32px;
}

a:hover {
    background-color: #F87C1F;
}

/*Navigation bar */
.sidebar {
    height: 100%;
    width: 190px;
    flex: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2F1D2B;
    padding-top: 16px;
}

.sidebar a {
    padding: 8px 12px 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #F87C1F;
}

.main {
    margin-right: 160px;
    padding: 0px 0px;
}

/*image with link*/
div.polaroid {
    width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float: left;
}

div.container {
    text-align: center;
    padding: 25px 35px;
    font-size: 30px;
}

/*address box*/
.address {
    width: 300px;
    padding: 40px;
    border: 15px solid #F87C1F;
    float: right;
    margin-right: 300px;
    margin-top: 120px;
    margin-bottom: 120px;
}

/*Main text area*/
.body-text {
    float: left;
    width: 600px;
    padding: 40px;
    border: 15px solid #F87C1F;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;

}